extends _layout

block title
  - var pageTitle = 'Title';
  title #{pageTitle}

block header
  +b('header').page-header
    .wrapper
      .inner__logo
        +b('a').logo_top(href='#')
      .inner__menu
        +b('a').touch-menu(href='#', id='touch-menu') Меню
        +b('nav').main-menu(id='nav')
          +nav(mainMenu)

block content
  +b.intro
    .wrapper
      +e('h2').title.headings Учеба еще никогда не была такой интересной!
      +e('p').text Обучаем готовых к трудоустройству специалистов на теоретических и практических курсах.
      button.btn.btn_request(type= 'submit') Подать заявку

  +b.features
    .wrapper
      +e.item_learn
        +e('h3').title Гибкий график обучения
        +e('p').text Современный темп жизни требует гибкого подхода к расписанию.
      +e.item_practice
        +e('h3').title Практические занятия
        +e('p').text На одной теории далеко не уедешь, поэтому мы обучаем на практике.
      +e.item_job
        +e('h3').title Не оставим без работы
        +e('p').text Хорошие специалисты всегда в цене и Вы станете именно таким.

  +b.learn-types
    .wrapper
      .top-section
        +e('h2').title.headings Формы обучения
        +e('a').more-link(href='#') Подробнее о программе
      +table('learn-types__table', rowAll)
  +b.feedback
    .wrapper
      +e('h2').title.headings Обратная связь

      +b.feedback-description
        +e.write-us
          +e('h3').title Заинтересовались обучением на нашей кафедре?
          +e('p').text  Заполните короткую форму обратной связи и отправьте нам.
          +e('p').text Мы подготовим для вас индивидуальное предложение и выйдем на связь!
        +e('p').text <span class='warn-text'>Внимание!</span> Все поля обязательны для заполнения.
        
        
      +b('form').feedback-form(method= 'POST', action='/post')
          +e.item
            +e('label').label(for= 'name') ФИО:
            +e('input').input._text(id= 'name', type= 'text', required, placeholder= 'Представьтесь, пожалуйста', autofill= 'name')
          
          +e.item._radio
            +e('p').label._sex Пол:
            +e('input').input._radio(id= 'male', name= 'sex', type= 'radio', checked)
            +e('label').label._radio(for= 'male') Мужской
            +e('input').input._radio(id= 'female', name= 'sex', type= 'radio')
            +e('label').label._radio(for= 'female') Женский
          
          +e.item
            +e('label').label(for= 'message') Доп. текст:
            +e('textarea').input._text(id= 'message', required, placeholder= 'Сообщите о себе все, что считаете нужным')
          
          +e.item
            +e('label').label(for= 'message')
            button.btn.btn_send(type= 'submit') Отправить


block footer
  +b('footer').page-footer
    .wrapper
      .left-section
        +b('a').logo_bottom
        +e('p').address 197101, г. Санкт-Петербург, <br> пр. Кронверкский, д. 49
      +b.footer-menu
        +e.item
          +e('h4').title Обучение
          +b('ul').footer-submenu
            +e('li').item: +e('a').link.link(href='#') Расписание
            +e('li').item: +e('a').link.link(href='#') Предметы
            +e('li').item: +e('a').link.link(href='#') Практика
        +e.item
          +e('h4').title Выпускники
          +b('ul').footer-submenu
            +e('li').item: +e('a').link.link(href='#') Достижения
            +e('li').item: +e('a').link.link(href='#') Отзывы
            +e('li').item: +e('a').link.link(href='#') Найти
        +e.item
          +e('h4').title Как поступить
          +b('ul').footer-submenu
            +e('li').item: +e('a').link.link(href='#') На коммерцию
            +e('li').item: +e('a').link.link(href='#') Целевой набор
            +e('li').item: +e('a').link.link(href='#') На бюджет
        +e.item
          +e('h4').title Контакты
          +b('ul').footer-submenu
            +e('li').item: +e('a').link.link(href='#') Обратная связь
            +e('li').item: +e('a').link.link(href='#') Схема проезда
            +e('li').item: +e('a').link.link(href='#') Телефон/факс              

      //- +b.footer-menu
      //-   +footerMenu(footerMenu)
