extends _layout

block header

  +b('header').page-header
    .wrapper
      +b('a').logo_top
      +b('nav').main-menu
        +menu(mainMenu)


block content
  +b.intro
    .wrapper
      +e('h1').title.headings Учеба еще никогда не была такой интересной!
      +e('p').text Обучаем готовых к трудоустройству специалистов на теоретических и практических курсах.
      button.btn.btn_request(type= 'submit') Подать заявку

  +b.features
    .wrapper
      +e.item_learn
        +e('h3').title Гибкий график обучения
        +e('p').text Современный темп жизни требует гибкого подхода к расписанию.
      +e.item_practice
        +e('h3').title Практические занятия
        +e('p').text На одной теории далеко не уедешь, поэтому мы обучаем на практике.
      +e.item_job
        +e('h3').title Не оставим без работы
        +e('p').text Хорошие специалисты всегда в цене и Вы станете именно таким.

  +b.learn-types
    .wrapper
      .top-section
        +e('h2').title.headings Формы обучения
        +e('a').more-link Подробнее о программе
      +table('learn-types__table', rowAll)

  +b.feedback
    .wrapper
      +e('h2').title.headings Обратная связь

      +b.feedback-description
        +e.write-us
          +e('h3').title Заинтересовались обучением на нашей кафедре?
          +e('p').text  Заполните короткую форму обратной связи и отправьте нам.
          +e('p').text Мы подготовим для вас индивидуальное предложение и выйдем на связь!
        +e('p').text <span class='warn-text'>Внимание!</span> Все поля обязательны для заполнения.
        
        
      +b('form').feedback-form(method= 'POST', action='/post')
          +e.item
            +e('label').label(for= 'name') ФИО:
            +e('input').input._text(id= 'name', type= 'text', placeholder= 'Представьтесь, пожалуйста')
          
          +e.item._radio
            +e('p').label Пол:
            +e('input').input._radio(id= 'male', name= 'sex', type= 'radio', checked)
            +e('label').label._radio(for= 'male') Мужской
            +e('input').input._radio(id= 'female', name= 'sex', type= 'radio')
            +e('label').label._radio(for= 'female') Женский
          
          +e.item
            +e('label').label(for= 'message') Доп. текст:
            +e('textarea').input._text( placeholder= 'Сообщите о себе все, что считаете нужным')
          
          +e.item
            +e('label').label(for= 'message')
            button.btn.btn_send(type= 'submit') Отправить
          //- table
          //-   tr
          //-     td 
          //-       +e('label').label(for= 'name') ФИО
          //-     td
          //-       +e('input').input._text(id= 'name', type= 'text', placeholder= 'Представьтесь, пожалуйста') 
          //-   tr
          //-     td
          //-       +e('p').label Пол
          //-     td
          //-       +e('input').input._radio(id= 'male', name= 'sex', type= 'radio', checked)
          //-       label(for= 'male') Мужской
          //-       +e('input').input._radio(id= 'female', name= 'sex', type= 'radio')
          //-       label(for= 'female') Женский       
          //-   tr
          //-     td
          //-       +e('label').label(for= 'message') Доп.текст
          //-     td
          //-       +e('textarea').input._text(id= 'message', placeholder= 'Сообщите о себе все, что считаете нужным')
          //-   tr
          //-     td
          //-     td
          //-       button.btn.btn_send(type= 'submit') Отправить        


block footer
  +b('footer').page-footer
    .wrapper
      .left-section
        +b('a').logo_bottom
        +e('p').address 197101, г. Санкт-Петербург, <br> пр. Кронверкский, д. 49
      .rigth-section
        +b('ul').footer-menu
          +menu(footerMenu)
