html {
  font-size: $html-font_base;
  box-sizing: border-box;
  @media screen and (width < $md_pre) {font-size: 50%;}
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: $font-family;
}

.wrapper {
  min-width: 32rem;
  max-width: 108rem;
  margin: 0 auto;
  padding: 0 3rem;
  clear: fix;
}

.top-section {
  clear: fix;
}

.left-section {
  float: left;
  min-width: 182px;
  @media screen and (width < $lg) {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.rigth-section {
  float: right;
  @media screen and (width < $lg) {display: none;}
}

.link {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 10px;
  @media screen and (width < $lg) {padding-bottom: 2rem;}
  &:after {
    content: '';
    display: none;
    width: 100%;
    height: 2px;
    background-color: $color_base;
  }
  &:hover {
    color: $color-text;
    padding-bottom: 8px;
    @media screen and (width < $lg) {padding-bottom: 2rem;}
  }
  &:hover:after {
    display: block;
    @media screen and (width < $lg) {display: none;}
  }
  &:active:after {display: none;}
  &:active {opacity: .3}
}

.btn {
  text-transform: uppercase;
  padding: 2.5rem 8rem;
  color: $color_base;
  background-color: $color-btn;
  @mixin fonts 20, 24. 700;
  text-align: center;
  border-width: 0;
  outline: none;

  &:hover {
    background-color: color($color-btn l(- 3%));
  }
  &:active {
    background-color: color($color-btn l(- 3%));
    color: color($color_base a(.3));
  }

  &_request {
    margin-bottom: 10.4rem;
  }
  &_send {
    width: 100%;
    margin-top: 2.5rem;
  }
}

.headings {
  @mixin fonts 45, 50, 700;
}

.logo {
  display: block;
  width: 182px;
  height: 82px;
  background: url('../img/logotype.png') no-repeat 0% 0%;
  background-size: cover;

  &_top {
    float: left;
    @media screen and (width < $md) {
      width: calc(182px / 1.5);
      height: calc(82px / 1.5);
    }
    @media screen and (width < $sm) {
      width: calc(182px / 2);
      height: calc(82px / 2);
    }
  }

  &_bottom {
    margin-bottom: 8.5rem;
    @media screen and (width < $lg) {margin: 0 auto 6rem;}
  }
}

.page-header {
  padding-top: 3.5rem;
  background-color: $color_secondary;
  color: $color-text;

  @media screen and (width < $lg) {
    position: relative;
    padding-bottom: 2rem;
  }
  @media screen and (width < $md_pre) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}

.touch-menu {
  display: none;

  @media screen and (width < $lg) {
    display: block;
    float: right;
    margin-top: 1.2rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    text-decoration: none;
    @mixin fonts 18, 24, 700;
    color: $color-text;
    border: 1px solid #fff;
    border-radius: 3px;
    /*background-color: $color-btn;*/
  }
  @media screen and (width < $sm) {margin-top: 0;}
}


.main-menu {
  float: right;
  font-size: 0;

  @media screen and (width < $lg) {
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;
    width: 50%;
    background: $color-btn;
    display: none;
    /*margin-right: 3rem;*/
  }
  @media screen and (width < $md_pre) {
    left: 0;
    right: 0;
    width: 100%;
  }

  &__link {
    display: inline-block;
    padding: 0 3rem;
    vertical-align: top;
    color: $color_base;
    @mixin fonts 18, 24, 700;

    @media screen and (width < $lg) {
      display: block;
      width: 100%;
      padding: 2rem;
      text-align: right;
      background-color: $color_secondary;
      border-top: 1px solid color($color_secondary l(+ 10%));
      border-bottom: 2px solid color($color_secondary l(- 3%));
    }
    @media screen and (width < $md_pre) {
      text-align: center;
      text-transform: uppercase;
    }

    &:last-of-type {
      padding-right: 0;
      @media screen and (width < $lg) {
        padding: 2rem;
      }
    }
  }
  &__link:hover {
    @media screen and (width < $lg) {background-color: color($color_secondary l(- 3%))}
  }
}

.menu-show {display: block;}

.intro {
  padding-top: 11rem;
  background: $color_secondary;
  text-align: left;

  @media screen and ($sm < width < $md_pre) {
    padding-top: 14rem;
  }
  @media screen and ($md_pre < width < $lg) {
    padding-top: 4rem;
  }

  &__title {
    width: 43rem;
    margin-bottom: 4rem;
    color: $color_base;
  }

  &__text {
    width: 31rem;
    margin-bottom: 5.3rem;
    @mixin fonts 18, 30, 400, $font-family_add;
    color: color($color_secondary s(+ 11%) l(+ 25%));
  }
  .wrapper {
    background: $color_secondary url('../img/intro.png') no-repeat 100% 0%;
    @media screen and (width < $lg) {
      background-image: none;
    }
  }
}

.features {
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  background-color: $color_tertiary;

  &__item {
    width:33.333%;
    padding: 0 1.5rem;
    float: left;
    text-align: center;
    @media screen and (width < $md) {
      width: 100%;
      padding-bottom: 4rem;
      margin-bottom: 4rem;
      border-bottom: 2px solid $color-border;
    }
    &:last-of-type {
      @media screen and (width < $md) {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
  &__item_learn {
    background: $color_tertiary url('../img/icon__features_learn.png') no-repeat 50% 0%;
  }
  &__item_practice {
    background: $color_tertiary url('../img/icon__features_practice.png') no-repeat 50% 0%;
  }
  &__item_job {
    background: $color_tertiary url('../img/icon__features_job.png') no-repeat 50% 0%;
  }

  &__title {
    min-height: 4.8rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
    @mixin fonts 22, 24, 700;
  }

  &__text {
    @mixin fonts 18, 24, 400, $font-family_add;
  }
}

.learn-types {
  background-color: $color_base;
  padding-top: 5rem;
  padding-bottom: 7rem;

  &__title {
    float: left;
    margin-bottom: 5rem;
    @media screen and (width < $md_pre) {
      float: none;
      margin-bottom: 2rem;
    }
  }

  &__more-link {
    float: right;
    margin-top: 1rem; /* (h title - h link) / 2 */
    text-decoration: underline;
    color: $color-link;
    @mixin fonts 18, 30, 400, $font-family_add;

    &:hover {color: color($color-link s(+ 1%) l(- 3%));}
    &:active {color: color($color-link a(.3));}

    @media screen and (width < $md_pre) {
      float: none;
      display: block;
      margin-bottom: 3rem;
    }
  }
}

.learn-types__table {
  width: 100%;
  @mixin border 3px;
  border-collapse: collapse;

  @media screen and (width < $sm) {display: block;}

  tbody {
    @media screen and (width < $sm) {display: block;}
  }

  .table__row {
    @media screen and (width < $sm) {
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-between;
    }
  }

  .table__heading {
    background-color: $color_tertiary;
    color: color($color_tertiary l(- 69%));
    @mixin fonts 18, 30, 400, $font-family_add;
    @mixin border;
    padding: 3rem;

    @media screen and (width < $md_pre) {
      padding: 2rem;
    }
    @media screen and (width < $sm) {
      display: none;
      border: none;
    }
  }
  .table__data {
    @mixin border;
    padding: 3rem;

    @media screen and (width < $md_pre) {
      padding: 2rem;
    }
    @media screen and (width < $sm) {
      display: block;
      border: none;
    }
  }
  .table__data_last {
    @media screen and (width < $sm) {
      order: -1;
      width: 100%;
      background-color: $color_tertiary;
    }
  }


}

.feedback {
  padding-top: 5rem;
  padding-bottom: 7.5rem;
  background-color: $color_tertiary;

  &__title {
    margin-bottom: 6rem;
  }
}

.feedback-form {
  margin-right: 33%;
  @media screen and (width < $md_pre) {margin-right: 0;}

  &__item {
    display: table-row;
    @media screen and (width < $md_pre) {display: block;}
  }
  &__item_radio {
    padding: 3rem 0;
    @media screen and (width < $md_pre) {padding: 0;}
  }

  &__input {
    display: inline-block;
    padding: 1.8rem 2.8rem;
    line-height: 3rem;
    @mixin border;
    border-radius: 2px;
    outline: none;

    &:hover {border-color: color($color-border l(- 20%));}
    &:focus {border-color: hsl(256, 62%, 54%);}
  }
  &__input_text {
    width: 51.5rem;
    @media screen and (width < $lg) {width: 100%;}
  }
  &__input_text::placeholder {
    color: hsl(0, 0%, 25%);
    @mixin fonts 18, 24, 400, $font-family_add;
  }
  &__input_radio {
    display: none;
  }
  &__label {
    display: table-cell;
    text-align: right;
    padding-right: 1.5rem;
    vertical-align: middle;
    @mixin fonts 18, 24, 700;

    @media screen and (width < $md_pre) {
      display: block;
      margin: 3rem 0;
      text-align: left;
      text-transform: uppercase;
    }
  }
}

.feedback-form {
  &__label_radio {
    display: inline-block;
    position: relative;
    padding-left: 5rem;
    margin: 3rem 5rem 3rem 1.5rem;
    @mixin fonts 18, 24, 400, $font-family_add;
    cursor: pointer;
    @media screen and (width < 460px) {display: block;}
  }
  &__label_radio:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: color($color-border l(+ 15%));
  }
  &__label_radio:hover:before {
    background-color: color($color-border l(+ 7%));
  }
  &__label_radio:active:before {
    background-color: color($color-border l(+ 20%));
  }
  &__input_radio:checked + label:after{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-btn;
  }
  &__input_radio:checked + label:active:after {
    background-color:  color($color-btn a(.3));
  }
}

.feedback-description {
  float: right;
  width: 30%;

  &__title {
    margin-bottom: 3rem;
    @mixin fonts 22, 30, 700;
  }
  &__text {
    margin-bottom: 3rem;
    color: color($color_tertiary l(- 61%));
    @mixin fonts 18, 24, 400, $font-family_add;
    @media screen and (width < $lg) {margin-bottom: 1rem;}
  }
  &__write-us {
    margin-bottom: 5rem;
    @media screen and (width < $lg) {margin-bottom: 3rem;}
  }

  @media screen and (width < $lg) {
    float: none;
    width: 100%;
    margin-bottom: 5rem;
  }
}

.warn-text {
    @mixin fonts 18, 24, 700, $font-family_add;
}

.page-footer {
  padding-top: 6.5rem;
  padding-bottom: 9rem;
  background-color: color($color_secondary s(- 26%) l(- 38%));
  color: $color-text;
}

.footer-menu {
  float: right;
  font-size: 0;

  &__item {
    display: inline-block;
    list-style: none;
    margin-right: 3rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    color: $color-text;
    @mixin fonts 18, 24, 700;
  }
}

.submenu {
  font-size: 0;

  &__item {
    list-style: none;
    margin-bottom: 3.5rem;
    &:first-of-type {
      margin-top: 4.5rem;
    }
  }
  &__link {
    color: hsl(249, 20%, 68%);
    @mixin fonts 18, 24, 700, $font-family_add;
  }
}

/* IE 8 & IE9 styles */

.ie8 {
  & .wrapper {min-width: 960px;}
  & header {display: block;}
  & footer {display: block;}
  & nav {display: block;}

  & .feedback-form__input_radio {display: inline-block;}
  & .feedback-form__label_radio {display: inline-block;}
  & .feedback-form__label_radio:before {display: none;}
  & .feedback-form__label_radio:after {display: none;}
}

.ie9 {
  & .feedback-form__input_radio:checked + label:after {
    top: 12px;
    @media screen and (width < $md_pre) {top: 10px;}
  }
}
