$color_base: hsl(0, 0%, 100%);
$color_secondary: hsl(249, 61%, 58%);
$color_tertiary: color($color_base l(- 6%));

$color-text: hsl(0, 0%, 100%);

$html-font_base: 62.5%;
$font-family: 'Trebuchet MS', 'Fira Sans', Arial, sans-serif;
$font-family_add: 'Tahoma', 'Fira Sans', Arial, sans-serif;

$sm: 'min-width: 480px';
$md: 'min-width: 768px';
$lg: 'min-width: 960px';

/*$border: 2px solid color($color_base l(- 35%));*/
