//-Table
mixin row(items)
  tr.table__row
    each item in items
      if items.index
        th.table__heading= item.content
      else
        td.table__data(class= item.class)= item.content
        
mixin table(tableClass, tableData)
  table(class= tableClass)
    each item in tableData
      +row(item)

//-Menu


mixin footerMenuI(items) 
  each item in items    
    +e.item
      +e('h4').title= item.name
        +b('ul').footer-submenu
          each subitem in item.sub
            +e('li').item: +e('a').link.link(href= subitem.url)= subitem.name  
                
mixin navList(items)
  each item in items
    if item.name === pageTitle
      +e('a').link.link.link_active(href= item.url)= item.name
    else
      +e('a').link.link(href= item.url)= item.name
                      
mixin nav(menuItems)
  each item in menuItems
    +navList(item)



//- mixin menu(prefix)
//-   nav(class= prefix + 'menu')
//-    each item in mainMenu
//-       li(class= prefix + 'menu__item'): a(class= prefix + 'menu__link', href= item.url)= item.title

//- mixin list(items)
  each item in items
    +e('li').item
      if item.name === pageTitle
          +e('a').link.link.link_active(href= item.url)= item.name
      else
        +e('a').link.link(href= item.url)= item.name
      if item.sub
        +b('ul').submenu
          each subitem in item.sub
            +e('li').item: +e('a').link.link(href= subitem.url)= subitem.name
            
//-mixin menu(menuItems)
  each item in menuItems
    +list(item)
