//- Menu Main
- var menuItem1 = [{name : 'Программа обучения', url : '#'}]
- var menuItem2 = [{name : 'Выпускники', url : '#'}]
- var menuItem3 = [{name : 'Как поступить', url : '#'}]
- var menuItem4 = [{name : 'Контакты', url : '#'}]
- var mainMenu = [menuItem1, menuItem2, menuItem3, menuItem4]

//- Menu Footer
- var menuItem1 = {name : 'Программа обучения', sub: [{name : 'Расписание', url : '#'},     {name : 'Предметы', url : '#'},       {name : 'Практика', url : '#'}] }
- var menuItem2 = [{name : 'Выпускники', url : '#',         sub: [{name : 'Достижения', url : '#'},     {name : 'Отзывы', url : '#'},        {name : 'Найти', url : '#'}]}]
- var menuItem3 = [{name : 'Как поступить', url : '#',      sub: [{name : 'На коммерцию', url : '#'},   {name : 'Целевой набор', url : '#'}, {name : 'На бюджет', url : '#'}]}]
- var menuItem4 = [{name : 'Контакты', url : '#',           sub: [{name : 'Обратная связь', url : '#'}, {name : 'Схема проезда', url : '#'}, {name : 'Телефон/факс', url : '#'}]}]
- var footerMenu = [menuItem1, menuItem2, menuItem3, menuItem4]

//- Table Learn form
- var row1 = [{content: "Название"},          {content: "Длительность"}, {content: "Описание"}]
- var row2 = [{content: "Дневное обучение"},  {content: "4 года"},       {content: "Наиболее интенсивный вариант обучения для тех, кто не терпит компромиссов ни в чем.", class: 'table__data_last'}]
- var row3 = [{content: "Вечернее обучение"}, {content: "5 лет"},        {content: "Вынуждены совмещать учебу с работой? Дадим вам такую возможность, совмещайте на здоровье.", class: 'table__data_last'}]
- var rowAll = [row1, row2, row3]
- row1.index = true
